.container {
  max-height: 862px;
  overflow-y: scroll;
  align-items: center;
  border: #e5e5e5 solid 1px;
  padding: 16px;
  .titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .cardTitle {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      margin-right: 10px;
      text-align: center;
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
    .collapseContent {
      align-items: center;
      color: #005cc9;
    }
    .footerRight {
      color: #333333;
      text-align: center;
      padding-top: 5px;
    }
  }

  .containerPlaceholder {
    margin-top: 16px;
    height: 325px;
    border: #e5e5e5 solid 1px;
  }
}
