.container {
  background-color: #f6f6f6;
  border-radius: 2px;
  align-items: center;
  //border: #e5e5e5 solid 1px;
  max-height: 422px;
  overflow-y: scroll;
  padding: 16px;
  .titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .cardTitle {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      margin-right: 10px;
      text-align: center;
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .footerTitle {
      font-size: 14px;
      line-height: 22px;
      font-weight: 500;
      margin-right: 10px;
      text-align: center;
    }

    //margin-top: 16px;
    .footerRight {
      color: #333333;
      text-align: center;
      //padding-top: 5px;
    }
  }
}

.empty {
  font-weight: 400;
  font-size: 12px;
  background-color: #f6f6f6;
  color: #333333;
  text-align: center;
  line-height: 350px;
  height: 350px;
  border-radius: 2px;
}

.contentView {
  font-weight: 600;
  word-break: break-all;
  margin-bottom: 4px;
}
