.container {
  max-height: 862px;
  overflow-y: scroll;
  align-items: center;
  border: #e5e5e5 solid 1px;
  padding: 15px;
  .titleContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .cardTitle {
      font-size: 20px;
      margin-right: 10px;
      text-align: center;
    }
  }
  .collapseContent {
    color: #005cc9;
  }
  .containerPlaceholder {
    min-height: 200px;
    border: #e5e5e5 solid 1px;
  }
}
