.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  .title {
    font-size: 20px;
    margin-right: 10px;
  }
}

.container {
  height: 32vh;
  overflow-y: scroll;
  margin-bottom: 10px;
  //border: gray solid 1px;
  pre {
    background-color: #cdd0cd;
    border-radius: 4px;
  }
  .defaultCard {
    margin-bottom: 10px;
    :global {
      .next-card-body {
        padding-top: 0px;
      }
    }
  }
  .activeCard {
    margin-bottom: 10px;
    border: cornflowerblue solid 1px;
    :global {
      .next-card-body {
        padding-top: 0px;
      }
    }
  }
}
