.layout {
  margin: 10px;
  display: flex;
  flex-direction: row;
  .form {
    width: 58vw;
  }
  .view {
    display: flex;
    flex-direction: column;
    width: 38vw;
    margin-left: 2vw;
    border: 1px aqua solid;
    .history {
      height: 50%;
    }
    .step {
      height: 50%;
    }
  }
}
